CLEANVERSE_API_ID=
CLEANVERSE_API_KEY=
CLEANVERSE_BASE_URL=https://uatapi.cleanverse.com/api/cooperate

BASE_SEPOLIA_RPC_URL=
POOL_OWNER_PRIVATE_KEY=
POOL_CONTRACT_ADDRESS=
VALIDATOR_CONTRACT_ADDRESS=
AUSDC_TOKEN_ADDRESS=

PORT=3001
FRONTEND_URL=http://localhost:5173
